/* Üldised stiilid */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Menüü */
.menu {
    display: flex;
    align-items: center;
    height: 50px;
    background: white;
    padding: 12px 24px;
    font-size: 18px;
}
.menu a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

/* Banner */
.header {
    height: 265px;
    background: url(cool-background.png) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.header h1 {
    font-size: 64px;
    margin: 0;
}
.header p {
    font-size: 24px;
    margin: 5px 0;
}
.button {
    background: black;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Sisuosa */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 50px auto;
    height: 400px;
}
.text {
    flex: 1;
    margin-right: 20px;
}
.text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.text p {
    font-size: 15px;
    line-height: 1.5;
}
.text p:first-child {
    font-size: 18px;
    font-weight: bold;
}
.image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
}

/* Jalus */
.footer {
    background: rgba(0, 0, 0, 0.64);
    text-align: center;
    padding: 64px;
    font-size: 24px;
    color: white;
}